  <!-- <h2><%= env %> </h2> -->
<nav class="blue lighten-4 z-depth-4">
    <a href="/projects/">Projects</a>
    <a href="/about/">About</a>
    <a href="https://patriceprosper.com/">Blog</a>
    <a href="/contact/">Contact</a>
</nav>
