  <!-- <h2><%= env %> </h2> -->
    <h1><%= title %></h1>
<nav class="blue lighten-4 z-depth-5">
    <a href="/projects/">Projects</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="https://patriceprosper.com/">Blog</a>
</nav>
