<html>
<% include partials/head.ejs %>
  <% include partials/header1.ejs %>
<h2> <%= pageId %> </h2>
<body>
  <% include partials/header.ejs %>

<div>
<iframe id="about"  src="https://pprosper.github.io/AboutMe/" frameborder="0"></iframe>
<!-- add resume link or linkedin -->
</div>
</body>
</html>
