<html>
<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
  <h2> <%= pageId %> </h2>
<div>
<iframe src="https://pprosper.github.io/AboutMe/" frameborder="0"></iframe>
<!-- add resume link or linkedin -->
</div>
</body>
</html>
