<html>
<% include partials/head.ejs %>
<body>
<% include partials/header.ejs %>
  <h2> <%= pageId %> </h2>

  <div id="soc">

  <a href="https://www.linkedin.com/in/patriceprosper"><img id="logos" src="../images/link.svg"></a>
  <a href=""><img id="logos" src="../images/ga.png">
  <a href="https://www.facebook.com/patrice.prosper.37"><img id="logos" src="../images/fb.png"></a>
  <a href="https://www.instagram.com/prospernyc/"><img id="logos" src="../images/insta.png"></a>
  <a href="https://twitter.com/ProsperNYC"><img id="logos" src="../images/twit.svg"></a>
</div>

<div class="inner-contact">

<h4>Send Patrice a Message..</h4>

<form action="#" method="post">

<label for="name">Name:</label><br>
<input type="text" name="name" class="name" /> <br>

<label for="name">Email:</label><br>
<input type="text" name="email" size="39" class="email" /> <br>

<label for="name">Message:</label><br>
<textarea name="message" rows="6" cols="30" class="message"> </textarea> <br> <br>

<button type="submit" name="submit" value="Submit"> Submit </button>
</form>
</body>
</html>
