<html>
<% include partials/head.ejs %>
<% include partials/header1.ejs %>

<body>
<% include partials/header.ejs %>
<img id="loader" src="../images/Welcome.gif" alt="">
<!-- <p id="loader"> Welcome </p> -->


  </body>
</html>
