<html>
  <% include partials/head.ejs %>
  <% include partials/header1.ejs %>

  <body>
    <% include partials/header.ejs %>

    <!-- <img id="wel" src="../images/Welcome.gif" alt=""> -->
    <img id="llp" src="../images/llP.png" alt="">
      <p id="wel"> Greetings! </p>
  </body>
</html>
