<html>
<% include partials/head.ejs %>
<% include partials/header1.ejs %>
<h2> <%= pageId %> </h2>
<body>
  <% include partials/header.ejs %>



 <h3> Full Stacks </h3>
      <div id="full">
      <div id="final" class="projects">
        <h4> React/Express </h4>
        <!-- <iframe id="final" src="https://trendspot.herokuapp.com/ " frameborder="0"></iframe> -->
        <img src="../images/comingsoon.jpg">
        <a href="https://github.com/PProsper/TrendSpot"><p id="link"> GitHub </p></a>
      </div>
      <div id="rails" class="projects">
        <h4> React/Rails </h4>
          <img src="../images/comingsoon.jpg">
            <a href="https://github.com/PProsper/BlogHub"><p id="link"> GitHub </p></a>
      </div>
    </div>

    <h3> Authorized Login </h3>
    <div id="auths">
      <div id="specific" class="projects">
        <h4> Weather App </h4>
        <iframe src="https://lit-wildwood-10617.herokuapp.com/auth/login" frameborder="0"></iframe>
          <a href="https://github.com/PProsper/SkyCastInc"><p id="link"> GitHub </p></a>
      </div>
      <div id="group" class="projects">
        <h4> CRUD Application - Group Project </h4>
        <iframe src="https://afternoon-beyond-94015.herokuapp.com/" frameborder="0"></iframe>
          <a href="https://github.com/PProsper/fosachiman/remindr"><p id="link"> GitHub </p></a>
      </div>
  </div>

<h3> Interactive Games </h3>
  <div id="games">
    <div id="tictactoe" class="projects">
      <h4> Tic Tac Toe </h4>
      <iframe src="https://pprosper.github.io/TicTacToe/" frameborder="0"></iframe>
      <a href="https://github.com/PProsper/WDI_HAKUNA_MATATA/tree/master/unit01/w02_d02/homework/TicTacToe"><p id="link"> GitHub </p></a>
    </div>
    <div id="mouse" class="projects">
      <h4> Bizzy Bees </h4>
      <iframe src="https://pprosper.github.io/BizzyBees/" frameborder="0"></iframe>
      <a href="https://github.com/PProsper/pprosper.github.io/tree/master/BizzyBees"><p id="link"> GitHub </p></a>




    </div>
  </div>
</body>
</html>
