<html>
<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
  <h2> <%= pageId %> </h2>
  <iframe src="" frameborder="0"></iframe>
    <iframe src="" frameborder="0"></iframe>
      <iframe src="" frameborder="0"></iframe>
        <iframe src="" frameborder="0"></iframe>
</body>
</html>
