// @import url(https://fonts.google.com/?selection.family=Baloo+Bhaina);

//fonts
// $baloo: 'Baloo Bhaina', cursive;

//colors
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

$prime: #D6EAF8;
$text1: #1B4F72;
$text2: #641E16;


@mixin color($bgc, $fgc){
  background-color:$bgc;
  color: $fgc;
}

@mixin textcolor($tc){
  text-decoration-color:$tc;
}

html{
  height: 100%;
  width: 100%;
  background-color: #EBF5FB;
}

/* Create a step size.*/
/* This is the percentage each heading will be reduced by. */
$step-size-heading: 0.33333;
/* The mixin */
@mixin heading-size($size) {
    font-size: $size * $step-size-heading + em;
}
h1 {
    @include heading-size(18);
    font-family: 'Great Vibes', cursive;
      text-align: center;
}
h2 {
    @include heading-size(7);
    text-align: center;
}
h3 {
    @include heading-size(6);
    text-decoration: underline;
    margin-top: 5%;
    text-align: center;
      // font-family: $baloo;
}
h4 {
    @include heading-size(4);
      text-align: center;
}
h5 {
    @include heading-size(2);
}
h6 {
    @include heading-size(1);
}

p{
  @include heading-size(7);
  text-align: center;
}

nav{
@include color($prime, $text2);
}

.ancors{
  @include textcolor($text1);
  // display: flex;
  // justify-content:center;
  margin-left: 15%;
  font-size: 20px;
}
nav a{
  @extend .ancors;
}

iframe, img{
  height: 85%;
  width: 100%;
  position:relative;
}

.projects{
      height: 50%;
      width: 50%;
      &:hover{
        -webkit-box-shadow: 0px 0px 15px 5px #AED6F1;
        -moz-box-shadow: 0px 0px 15px 5px #AED6F1;
        box-shadow: 0px 0px 15px 5px #AED6F1;
      }
}

.conatiner{
  display: flex;
  justify-content: space-between;
}
.child{
  margin: 3% 5% 1% 5%;
}

#full{
  @extend .conatiner ;
  #final, #rails{
    @extend .child;
  }
}

#auths{
  @extend .conatiner ;
  #specific, #group{
    @extend .child;
  }
}
#games{
  @extend .conatiner ;
  #tictactoe, #mouse{
    @extend .child;
  }
}

#soc{
  /*position: absolute;*/
  width: 100%;
  margin-top: 5%;
  // border: 2px;
  // border-style: dashed;
  padding: 5px 5px 5px 5px;
  #logos{
    margin-left: 160;
    height: 80px;
    width: 80px;
    padding: 4px;

    a{
      width: 80px;
    }
  }
}
input,textarea {
padding: 12px;
}

label {

}

.inner-contact {
width: 50%;
padding: 20px;
// border: 8px solid #ffffff;
margin-top: 3%;
margin-left: 25%;
}

button{
height: 5%;
width: 20%;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
margin-top: 2%;

}
label{
  color: black;
  font-size: 12pt;
}
.name {
width: 200px;
margin-bottom: 20px;
transition: 0.5s;
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */

  }

.name:focus { width: 275px; }


.email {
width: 200px;
margin-bottom: 20px;
transition: 0.5s;
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */
}
.email:focus { width: 275px;}

.message {
height: 30%;
width: 80%;
margin-bottom: 20px;
transition: 0.5s;
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */
 }
