html{
  height: 100%;
  width: 100%;
}

$prime: #D6EAF8;
$text1: #1B4F72;
$text2: #641E16;

@mixin color($bgc, $fgc){
  background-color:$bgc;
  color: $fgc;
}

@mixin textcolor($tc){
  text-decoration-color:$tc;
}

nav{
@include color($prime, $text2);
}

.ancors{
  @include textcolor($text1);
  // display: flex;
  // justify-content:center;
  margin-left: 20%;
  font-size: 20px;
}
a{
  @extend .ancors;
}
